@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');

body {
    background: linear-gradient(180deg, rgba(69, 58, 101, 0.00) -14.89%, #0D216C 79.35%);
    height: 100vh;
}

.cabecalho {
    text-align: center;
}

img {
    margin-top: -80px;
    width: 370px;
}

.calculadora {
    background-color: #031657;
    width: 371px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.numero {
    font-family: 'Martian Mono', monospace;
    font-size: 40px;
}

.operacao {
    font-family: 'Martian Mono', monospace;
    font-size: 40px;
}