@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins Bold', sans-serif;
}

body {
    display: flex;
}

.parteUm {
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #ffffff;
    width: 50%;
}

.parteUm h1 {
    color: #182b7c;
    font-weight: 600;
    font-size: 50px;
}

.parteUm p {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.parteUm img {
    margin-top: 20px;
    width: 180px;
}

.container {
    margin: 20px 80px;
}

.parteDois{
    background-image: url(aguaviva.jpg);
    background-size: cover;
    width: 50%;
    height: 670px;
}

.calculadora {
    border: #000000 1px solid;
    margin: 40px 130px;
    width: fit-content;
    background-color: #ffffe3f5;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 30px rgba(228, 243, 13, 0.616);
}

#visor {
    padding: 12px;
    font-size: 25px;
    margin: 0 auto; 
    margin-bottom: 4px;
    display: block; 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    color: #ffffff;
    background-color: #474a9c;
}

.teclado {
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: -10px;
}

.numero,
.operacao {
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    background-color: #ffffe3f5;
    color: #1f1f1f;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.numero:hover,
.operacao:hover {
    background-color: #e9cc29a0;
}
